---
layout: layouts/base.liquid
title: About page
---

<h1>{{ title }}</h1>
<p>The about page has some different content in it, but it shares the same page template and footer as the other pages</p>



