---
layout: layouts/base.liquid
title: Home page
---

<h1>{{ title }}</h1>
<p>Well, here we are! This page was made by a build process so it is pre-generated and ready to serve from Netlify.</p>

<form action="/thanks" method="POST" name="subscribers" netlify>
  <label>Your Name:<input type="text" name="name" /></label>
  <label>Your Email:<input type="email" name="email" /></label>
  <button type=“submit">Subscribe me!</button>
</form>


